pymongo
pyyaml
python-dotenv
requests
fastapi
rich
uvicorn
argparse
tinydb
python-nmap
jira
google-auth
google-api-python-client
numpy==1.24.4
pandas 
rich-tools
GCTF{push1ng_s3cr3t_t0_g1thub_n0t_s4f3}
